body {
	margin: 0;
	font-family: 'Roboto' sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Consolas, monospace;
}
.row div:nth-child(3) {
	border-right: 3px solid #000;
}

.row div:nth-child(6) {
	border-right: 3px solid #000;
}

.row:nth-child(3) {
	border-bottom: 3px solid #000;
}

.row:nth-child(6) {
	border-bottom: 3px solid #000;
}

.square {
	width: 50px;
	height: 50px;
	font-size: 20px;
	text-align: center;
	font-weight: bolder;
}

.row {
	display: flex;
}

.fieldContainer {
	margin-bottom: 25px;
}

.playField1 {
	display: inline-flex;
	width: 510px;
}

.playField2 {
	display: flex;
	width: 510px;
}

.playField2 .immutable {
	color: #fff;
	border-color: #d81b60 !important;
	background: #f50057 !important;
}

.game {
	padding: 0px;
	background: #f6f6f6;
	margin-bottom: 2px;
}

.immutable {
	color: #fff;
	background: #3f51b5;
	border: 2px solid #3949ab;
}

.timer {
	border: 2px solid #000;
	width: auto;
	max-width: 130px;
	padding: 5px;
	margin-bottom: 20px;
}

.loginWrapper {
	height: 100%;
	min-height: 400px;
	width: 100%;
	background-color: #333;
	padding-top: 10%;
	padding-left: 20%;
	padding-right: 20%;
}

.loginInner {
	height: 50px;
	width: 400px;
	padding: 50px;
	background-color: #f6f6f6;
	font-size: 18px;
	border: 1px solid #f6f6f6;
	border-radius: 10px;
}

.loginInner input {
	height: 25px;
	padding: 2px;
	padding-left: 8px;
	font-size: 18px;
	margin-right: 10px;
}

.userActivity {
	display: flex;
	padding: 2px;
	background-color: #f6f6f6;
	width: auto;
	font-size: 12px;
	max-width: 400px;
}

.opponent {
	width: 54px;
	height: 54px;
	border: 1px solid;
}

.playerSelect {
	font-size: 16px !important;
	position: absolute;
	margin-top: -3px;
	margin-left: -18px;
}

.poo {
	color: rgba(0, 0, 0, 1);
	font-size: 42px !important;
	display: inline-flex;
}

@media (max-width: 720px) {
	.opponent {
		width: 28px;
		height: 28px;
		border: 1px solid;
	}

	.square {
		width: 32px;
		height: 25px;
		font-size: 14px;
		text-align: center;
		font-weight: bolder;
	}

	.loginWrapper {
		height: 100%;
		min-height: 200px;
		width: 100%;
		background-color: #333;
		padding-top: 5%;
		padding-left: 5%;
		padding-right: 5%;
	}

	.fieldContainer input {
		border: 1px;
		border-radius: 0 !important;
		width: 20px !important;
		height: 20px !important;
	}

	.MuiGrid-container {
		display: block !important;
		margin-bottom: 20px;
	}

	.poo {
		color: rgba(0, 0, 0, 1);
		font-size: 22px !important;
		display: inline-flex;
	}
}
/*fuck apples IOS overrides*/
textarea,
input[type="text"] .input-checkbox {
	-webkit-appearance: none !important
}
