body {
	margin: 0;
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Consolas, monospace;
}

.squareWrapper {}

.row div:nth-child(3) {
	border-right: 3px solid #000;
}

.row div:nth-child(6) {
	border-right: 3px solid #000;
}

.row:nth-child(3) {
	border-bottom: 3px solid #000;
}

.row:nth-child(6) {
	border-bottom: 3px solid #000;
}

.square {
	width: 50px;
	height: 50px;
	font-size: 20px;
	text-align: center;
	font-weight: bolder;
}

.row {
	display: flex;
}

.fieldContainer {
	display: flex
}

.playField1 {
	margin-left: 80px;
	width: 510px;
	margin-right: 50px;
	padding-right: 50px;
	border-right: 2px solid #222;
}

.playField2 {
	width: 510px;
}

.playField2 .immutable {
	background: rgb(230, 255, 230) !important;
}

.game {
	padding: 0px;
	background: #f6f6f6;
	margin-bottom: 2px;
}

.immutable {
	background: rgba(245, 230, 255, 1);
}

.censored {
	background: #ff1111;
}

/*.button {
	padding: 20px;
	font-size: 15px;
	background-color: #2273ca;
	margin-left: 35px;
	margin-right: 40px;
	margin-top: 50px;
	border-radius: 5px;
	border: none;
	color: #fff;
}

.button.attack {
	background-color: #d85b5b !important;
}*/

.timer {
	border: 2px solid #000;
	font-size: 26px;
	width: 100px;
	padding: 10px;
	margin-left: 575px;
	margin-bottom: 20px;
}

.loginWrapper {
	height: 100%;
	min-height: 400px;
	width: 100%;
	background-color: #333;
	padding-top: 10%;
	padding-left: 20%;
	padding-right: 20%;
}

.loginInner {
	height: 50px;
	width: 400px;
	padding: 50px;
	background-color: #f6f6f6;
	font-size: 18px;
	border: 1px solid #f6f6f6;
	border-radius: 10px;
}

.loginInner input {
	height: 25px;
	padding: 2px;
	padding-left: 8px;
	font-size: 18px;
	margin-right: 10px;
}
/*
.loginInner button {
	height: 30px;
	padding: 3px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	background: rgb(250, 160, 234);
}

.loginInner button:active {
	background: rgb(200, 130, 175);
}*/

.userActivity {
	padding: 5px;
	background-color: #f6f6f6;
	width: auto;
	max-width: 500px;
}

.opponent {
	width: 54px;
	height: 54px;
	border: 1px solid;
}

.playerSelect {
	font-size: 16px !important;
	position: absolute;
	margin-top: -3px;
	margin-left: -18px;

}

.poo {
	font-size: 42px !important;
	display: inline-flex;
}
